*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.w_1440{
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.wrap{
    /* background: url(../img/them.JPG) no-repeat center; */
    /* background: url(../img/them2.JPG) no-repeat center / cover; */
}