/* header */
.header{
    width: 100%;
    height: 70px;
    background: rgba(256, 256, 256, 0.3);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    width: 70px;
    height: 100%;
    margin-left: 50px;
background: orange;

}
.menu_ul{
    padding-right: 30px;
    overflow: hidden;

}
.menu_li{
    height: 70px;
    line-height: 70px;
    float: left;
    padding: 0 20px;
    color: #08196d;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.menu_li:hover {
    background: #08196d;
    color: #fff;
}



section{
    width: 100%;
    height: 100vh;
    position: relative;
    border: 1px solid;
    overflow: hidden;
}

/* sec_1 */
.sec_1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.sec_1_L{
    width: 40%;
    height: 100%;
    background: #bed8ef;
    position: relative;
}
#sec_1_cir1{
    position: absolute;
    left: 50%;
    top: -50%;
    animation: move1 5s infinite;
}
.sec_1_txt1{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    font-size: 40px;
}


.sec_1_R{
    width: 60%;
    height: 100%;
    position: relative;
}
#sec_1_cir2,#sec_1_cir3,#sec_1_cir4{
    position: absolute;
    
}
#sec_1_cir2{
    left: 40%;
    top: -25%;
    animation: move2 6s infinite;
}

#sec_1_cir3{
    left: 70%;
    top: 40%;
    animation: move1 7s infinite;
}

#sec_1_cir4{
    left: 50%;
    top: 68%;
    animation: move2 4s infinite;
}

.sec_1_txt2{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translateX(-50%);
    font-size: 40px;
}
.sec_1_c_img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    box-shadow: 0 0 20px 0 rgba(184, 178, 178, 0.7);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

@keyframes move1{
    0%{transform: translateY(20px);}
    50%{transform: translateY(0);}
    100%{transform: translateY(20px);}
}
@keyframes move2{
    0%{transform: translateY(-10px);}
    50%{transform: translateY(25px);}
    100%{transform: translateY(-10px);}
}
/* section 2 */
#sec_2_cir1,
#sec_2_cir2,
#sec_2_cir3{
    position: absolute;
    /* transition: all 0.5s; */
}
#sec_2_cir1{
    left: 4%;
    top: 19%;
    animation :sec_2_1_top 20s infinite linear, sec_2_1_left 7s infinite linear; 
    transition: all 3s;
    
}
@keyframes sec_2_1_top{
    0%{top:19%;}
    50%{top:10%;}
    100%{top:19%;}
}
@keyframes sec_2_1_left{
    0%{left: 4%;}
    25%{left: 8%;}
    50%{left: 4%;}
    75%{left: 0%;}
    100%{left: 4%;}
}
#sec_2_cir2{
    left: 7%;
    top: 70%;
    animation :sec_2_2_left 15s infinite linear, sec_2_2_top 10s infinite linear; 
    transition: all 3s;
}
@keyframes sec_2_2_left{
    0%{left:7%;}
    50%{left:17%;}
    100%{left:7%;}
}
@keyframes sec_2_2_top{
    0%{top: 70%;}
    25%{top: 60%;}
    75%{top: 80%;}
    100%{top: 70%;}
}

#sec_2_cir3{
    left: 50%;
    top: 76%;
    transform: translateX(-50%);
    animation :sec_2_3_top 6s infinite linear, sec_2_3_left 10s infinite linear; 
}
@keyframes sec_2_3_top{
    0%{top: 76%;}
    50%{top: 73%;}
    100%{top: 76%;}
}
@keyframes sec_2_3_left{
    0%{transform: translateX(-50%)}
    25%{transform: translateX(-40%)}
    50%{transform: translateX(-50%)}
    75%{transform: translateX(-60%)}
    100%{transform: translateX(-50%)}
}
.basic_info{
    width: 100%;
    padding-top: 130px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 1fr;
    justify-items: center;
    
}

.info_img{
    width: 350px;
    height: 500px;
    position: relative;
}
.info_pan{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #cedacf;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
}

@keyframes back_pan{
    0%{width: 100px;height: 100px; border-radius: 50%; transform: translate(-130%,-200%) scale(0.2); box-shadow: 0 0 0 0}
    25%{width: 100px;height: 100px; border-radius: 50%; transform: translate(-50%,-50%) scale(1); box-shadow: 0 0 0 0}
    40%{width: 100px;height: 100px; border-radius: 50%; transform: translate(-50%,-120%) scale(1); box-shadow: 0 0 0 0}
    50%{width: 100px;height: 100px; border-radius: 50%; transform: translate(-50%,-50%) scale(1); box-shadow: 0 0 0 0}
    85%{width: 300px;height: 450px; border-radius: 20px; transform: translate(-50%,-50%) scale(1); box-shadow: 0 0 0 0}
    100%{width: 300px;height: 450px; border-radius: 20px; transform: translate(-50%,-50%);box-shadow: -10px 10px 0 0 #888080c2;}
}
.info_outer_cir{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: #1f633e;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(0);
}
.info_inner_cir{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}
@keyframes circle_big{
    0%{transform: translate(-50%,-50%) scale(0)}
    100%{transform: translate(-50%,-50%)scale(1);}
}
.info_inner_img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,60%);
}
@keyframes img_up{
    0%{transform: translate(-50%,60%); }
    100%{transform: translate(-50%,-20%) scale(1.4);}
}
.info_inner_img img{
    width: 100%;
}
.info_desc{
    width: 100%;
    font-size: 18px;
}
.info_desc table{
    padding: 25px;
}
.info_desc td:nth-child(1){
    width: 200px;
    height: 30px;
}
.info_icando{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.work_item{
    width: 100%;
    overflow: hidden;
}
.work_item:nth-child(1){
    order: 1;
}
.work_item:nth-child(2){
    order: 3;
}
.work_item:nth-child(3){
    order: 5;
}
.work_item:nth-child(4){
    order: 2;
}
.work_item:nth-child(5){
    order: 4;
}
.work_item:nth-child(6){
    order: 6;
}
.work_item:nth-child(7){
    order: 7;
    grid-column-start: 2;
}


.item_img{
    width: 80px;
    padding: 15px;
    float: left;
}
.item_img img{
    width: 100%;
}
.item_score_box{
    width: 300px;
    height: 40px;
    line-height: 40px;
    margin: 25px 0;
    font-size: 25px;
    font-weight: 600;
    box-shadow: 0 0 3px 0 #77727282;
    float: left;
    position: relative;
}

.real_score{
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}




.info_motto{
    text-align: center;
    font-size: 35px;
    margin-top: 130px;
    grid-column-start: 1;
    grid-column-end: 3;
}
.info_motto span{
    position: relative;

}
.info_motto span::after{
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background: #000;
    position: absolute;
    left: 100%;
    top: 0;
    animation : cursor_blink 0.7s infinite linear
}
@keyframes cursor_blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

/* section 3 */
#sec_3_cir{
    position: absolute;
    right: 0;
    top: 0;
}

/* 포트폴리오 */
